*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* To  disable the navbar button*/
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none !important;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
li{
    list-style: none;
    display: inline;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
p{
    font-size: 15px;
}

/*Navigation*/
.navbar{
    /*background: #222222 !important;*/
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    box-shadow: 0 0px 3px black;
    transition: 1s;
}
nav ul li a{
    position: relative;
    /*color: #fff;*/
    color:#000000;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.7;
    transform: scale(1);
    transition: all .5s ease-in-out;
}
nav ul li a:hover{
    /*color:#fff;*/
    color:black;
    text-decoration: none;
    opacity: 1;
    transform: scale(1.10);
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    /*background: #fff;*/
    background: #ec9316;
    left: 4px;
    top: 20px;
    bottom: 20px;
    margin:20px auto;
    transform: scale(0);
    transition: all linear .3s;
}
nav ul li a:hover::after{
    transform: scale(1);
}
nav ul li a.active{
  /*color:#fff;*/
  color:black;
  background: transparent;
  text-decoration: none;
  opacity: 1;
}
nav ul li a.active::after{
  transform: scale(1);
}
.navbar-toggler{
    background-color: transparent !important;
}
.navbar-brand{
    /*color:#fff !important;*/
    color: black;
}
/*Toggle bar*/
.btn-open:after{
	font-family: "FontAwesome";
    content: "\f0c9";
    font-size: 40px;
    /*color:#fff !important;*/
	color:black;
	transition: color .2s;
}
.btn-open:hover:after{
	/*color:#fff;*/
  color:black;
    opacity: 1;
}
.btn-close:after{
	font-family: "FontAwesome";
    content: "\f00d";
    font-size: 40px;
    /*color:#fff !important;*/
    color:black;
    opacity: 0.7;
	transition: color .2s;
}
.btn-close:hover:after{
    /*color:#fff;*/
    color: black;
    opacity: 1;
}
p{
  text-align: left;
}
/*...hr tag style...*/
.style-one{
    width:25%;
      margin: 5px auto;

    background:black;
}
.style-two{
    width:50%;
    margin: 5px auto;
    height: 1px;
    background:#222222;
}
/*Home*/
.header{
    background:rgba(255,255,255,0.2);
    display: cover;
    min-height: 100vh;
    max-height: auto;
    width: 100%;
    padding: 30px 0 30px;
    text-align: center;
    overflow: auto;

}
#intro{
  background:white;
  height:auto;
}
.header i{
  color: black;
  transition: 0.5s;
}
.header i:hover{
  color:#ec9316; 
}
.header .header-content{
    margin-top: 10%;
}
.my-btn{
  outline: none;
  border:none;
  background: rgb(236,147,22);
  background: linear-gradient(83deg, rgba(236,147,22,1) 0%, rgba(232,221,58,1) 100%);
  color: white;
  padding: 13px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px; 
  cursor: pointer;
  transition: 0.5s;
}
.my-btn:hover{
  background: rgb(236,147,22);
  background: linear-gradient(83deg,rgba(232,221,58,1) 0%, rgba(236,147,22,1) 100%);
  transform: scale(1.1);
}
#pt{
  font-size: 15px;
  font-weight: 100;
  opacity: .8;
}
#pt b{
  font-weight: bold;
}
#qhead{
  color:#f2bf4e;
}
#cardText{
  color: black;
}
/*About*/
#About{
    overflow: auto;
    padding: 73px 20px;
    position: relative;
    color: black;
    font-size: 30px;
    text-align: center;
}
#About img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .2s ease-in;
    transform: scale(1);
}
#About img:hover {
    transform: scale(1.1);
}
/*Event*/
.Event{
  overflow: auto;
  padding: 73px 20px;
  position: relative;
  text-align: center;
}
/*Team*/
.team{
    overflow: auto;
    overflow-y: hidden;
    padding: 53px 20px 30px 20px;
    position: relative;
    text-align: center;
}
.my_card, .my_card_co{
    margin-bottom: 10px;
    padding: 10px;
}
.team b,
.team h4{
    margin:20px 0 20px;
    color: #4c4c4c;
}
.team img{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .2s ease-in;
    transform: scale(1);
}
@media(min-width: 500px){
  .team img{
    height: 125px;
    width: 125px;
  }
}
.team .social{
  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: 17px;
  border-radius: 50%;
  background-color:#6a7267;
  color: #fff;
}
.team a:hover .social{
  background-color: #222222;
}
@media(max-width: 500px){
  .team .social{
  height: 20px;
  width: 20px;
  padding: 3px;
  font-size: 10px;
}
}
.my_card_co img{
  height: 120px;
  width: 120px;
  margin-top: 20px;
  cursor: pointer;
  transition: all .2s ease-in;
  transform: scale(1);
}
.team img:hover{
    transform: scale(1.05);
}
/*gallery*/
.gallery{
  padding:30px 20px 75px 20px;
  position: relative;
}
/*footer*/
.footer{
  padding: 10px;
  color:black;
  text-align: center;
  background-color:#cdcab5;
}
.footer .social{
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.footer a{
  display: inline-block;
  text-decoration: none;
  color:black;
  padding: 0px;
  margin: 0;
  transition: 0.3s;
  transform: scale(1);
}
.footer a:hover{
  color:black;
  text-decoration: none;
  transform: scale(1.1);
}
.footer p{
  margin-bottom: 0 !important;
}
.footer .our-name a{
  color:white;
  font-size: 20px;
  font-weight: bold;
}
.footer .our-name a:hover{
  color:#ec9316;
}
footer{
  font-size: 20px;
  font-family: 'Ubuntu', serif;
  color:white;
  color:black;
  text-align: center;
  background: rgb(236,147,22);
  background: linear-gradient(83deg, rgba(236,147,22,1) 0%, rgba(232,221,58,1) 100%);
}
footer span{
  color: white;
  filter: brightness(100%);
}
